@{
    ViewBag.Title = "Auditor Dashboard/Inbox";
}

<script>
    var activeCase = 0;

    const CASES = [
        { name: "Dirty Doc", pct: "84", zip: "243552", rx_num: "67535134", npi: "3", drug: "Opioid", supply: "1", days_supply: "30", rx_fill_date: "05/05/2018" },
        { name: "Opioid Addict", pct: "95", zip: "45457", rx_num: "123", npi: "1", drug: "Opioid", supply: "2", days_supply: "30", rx_fill_date: "05/15/2018" },
        { name: "Innocent Guy", pct: "20", zip: "23479", rx_num: "3884373", npi: "2", drug: "Opioid", supply: "3", days_supply: "30", rx_fill_date: "05/25/2018" },
        { name: "Dirty Doc 2", pct: "60", zip: "45553", rx_num: "9763537", npi: "3", drug: "Opioid", supply: "4", days_supply: "30", rx_fill_date: "05/20/2018"  }
    ];


    function caseList() {
        var out = '<div class="list-group" id="list-tab" role="tablist">';
        for (var i = 0; i < CASES.length; i++) {
            out += '<a class="list-group-item list-group-item-action'
            if (i == 0) {
                out += ' active';
            }
            out += '" id="list- home - list" data-toggle="list" role="tab" onClick="setActiveCase(' + i + ', this)" href="javascript: reloadDetails()">' + CASES[i].name + '</a>';
        }
        out += '</dic>';
        document.getElementById('caseList').innerHTML = out;
    }

    function setActiveCase(index, element) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        activeCase = index;
        element.className += " active";
    }

    function getActiveCaseHeader() {
        document.getElementById('activeCaseHeader').innerHTML =
            CASES[activeCase].pct + "% confident that " + CASES[activeCase].name + " is committing fraud";
    }

    function getActiveCaseName() {
        document.getElementById('activeCaseName').innerHTML =
            "Name: " + CASES[activeCase].name;
    }

    function getActiveCaseZip() {
        document.getElementById('activeCaseZip').innerHTML =
            "Zip Code: " + CASES[activeCase].zip;
    }

    function getActiveCaseRxNum() {
        document.getElementById('activeCaseRxNum').innerHTML =
            "RxCode: " + CASES[activeCase].rx_num;
    }

    function getActiveCaseNpi() {
        document.getElementById('activeCaseNpi').innerHTML =
            "NPI: " + CASES[activeCase].npi;
    }


    function getActiveCaseDrug() {
        document.getElementById('activeCaseDrug').innerHTML =
            "Drug: " + CASES[activeCase].drug;
    }

    function getActiveCaseSupply() {
        document.getElementById('activeCaseSupply').innerHTML =
            "Supply: " + CASES[activeCase].supply;
    }


    function getActiveCaseRefill() {
        document.getElementById('activeCaseRefill').innerHTML =
            "Refill Date: " + CASES[activeCase].rx_fill_date;
    }

    function reloadDetails() {
        var container = document.getElementById("nav-tabContent");
        var content = container.innerHTML;
        container.innerHTML = content;

        getActiveCaseHeader();
        getActiveCaseName();
        getActiveCaseZip();
        getActiveCaseRxNum();
        getActiveCaseNpi();
        getActiveCaseDrug();
        getActiveCaseSupply();
        getActiveCaseRefill();


        //this line is to watch the result in console , you can remove it later	
        console.log("Refreshed; active case i = " + activeCase + "; " + content);
    }


    $('.list-group').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });
</script>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            Opioid Dashboard - Auditor View
        </div>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Auditor Jane Doe</a> | @Html.ActionLink("Log Out", "Index", "Home")</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <div id="caseList">
            <script>caseList();</script>
        </div>
        <div class="navbar">
            <p class="navbar-text">
                @Html.ActionLink("Prepare & Send Report >>", "Report", "Auditor")
            </p>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="tab-content" id="nav-tabContent">

            <br />

            <div class="container">
                <h1 id="activeCaseHeader">
                    <script>getActiveCaseHeader();</script>
                </h1>
                <h3>Fraud committed by prescriber/provider</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p id="activeCaseName">
                            <script>getActiveCaseName();</script>
                        </p>
                        <p id="activeCaseZip">
                            <script>getActiveCaseZip();</script>
                        </p>
                        <p id="activeCaseNpi">
                            <script>getActiveCaseNpi();</script>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p id="activeCaseDrug">
                            <script>getActiveCaseDrug();</script>
                        </p>
                        <p id="activeCaseRxNum">
                            <script>getActiveCaseRxNum();</script>
                        </p>
                        <p id="activeCaseSupply">
                            <script>getActiveCaseSupply();</script>
                        </p>
                        <p id="activeCaseRefill">
                            <script>getActiveCaseRefill();</script>
                        </p>
                    </div>
                </div>
            </div>

            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Conclusion</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
                        <label class="custom-control-label" for="customRadio1">Further Investigation Required.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
                        <label class="custom-control-label" for="customRadio2">No Fraud.</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Mark case as reviewed</button>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</div>
