@{
    ViewBag.Title = "Report for Investigator";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            Opioid Dashboard - Auditor View
        </div>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Auditor Jane Doe</a> | @Html.ActionLink("Log Out", "Index", "Home")</p>
    </div>
</div>

<div>
    <h2>@ViewBag.Title</h2>
    <p></p>
    <p><button class="btn btn-default" type="submit" onclick="alert('Reported fraud cases successfully sent out for further investigation')">@Html.ActionLink("Send Report", "Dashboard", "Auditor")</button></p>
</div>