@{
    ViewBag.Title = "Activity Detail";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            Opioid Dashboard - Auditor View
        </div>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Admin Jane Doe</a> | @Html.ActionLink("Log Out", "Index", "Home")</p>
    </div>
</div>

<br/>
<h3>@ViewBag.Title</h3>
<br/>
<div class="container">
    <p>Total number of Medical Providers who provide opioids to their patients at a rate in the 99 percentile relative to the state population.</p>
    <img src="~/Content/images/USMap.PNG" alt="US Data" />
</div>

